<div class="container-fluid resultsMargin">
    <h3>My Positions</h3>

    <div class="row">
        <div class="col-4 push-right">
            <app-publish-position-form
                    *ngIf="skills.length"
                    [skills]="skills"
                    (onPositionPublished)="pushPublishedPosition($event)">
            </app-publish-position-form>
        </div>
        <div *ngIf="positions" class="col-7 shadow bg-white">
            <div class="row resultsTitle">
                <div class="col-6">
                    <h6 [ngClass]="{'text-success': positions.length, 'text-danger': positions.length === 0}" class="">
                        {{positions.length}} Positions
                    </h6>
                </div>
                <div class="col-3">
                    <label for="sort" class="sr-only">Sort</label>
                    <select id="sort" class="form-control d-inline-block" [(ngModel)]="sortStrategy">
                        <option disabled selected [value]="null">Sort By</option>
                        <option value="title">Title</option>
                        <option value="dateCreated">Date Created</option>
                        <option value="status">Status</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="order" class="sr-only">Order</label>
                    <select id="order" class="form-control d-inline-block" [(ngModel)]="orderStrategy">
                        <option disabled [value]="null">Order By</option>
                        <option [value]="false">Ascending</option>
                        <option [value]="true">Descending</option>
                    </select>
                </div>
            </div>
            <app-position-list [positions]="positions" [sortBy]="sortStrategy" [reverse]="orderStrategy === 'true'">
                               <!--[questionState]="QuestionState.PublishedByMe">-->
            </app-position-list>
        </div>
    </div>
</div>