<div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
        {{position.title}}
        <span [ngSwitch]="position.status">
            <span *ngSwitchCase="1" class="btn btn-outline-primary btn-sm disabled"> Opened </span>
            <span *ngSwitchCase="2" class="btn btn-outline-danger btn-sm disabled"> Closed </span>
            <span *ngSwitchCase="3" class="btn btn-outline-success btn-sm disabled"> Pending </span>
        </span>
    </h5>
    <small>{{position.id}}</small>
</div>
<div class="row text-left">
    <div class="col-12">
        <div class="mb-1" [innerHTML]="position.description | truncate :numOfChars: '...' | santisizeHtml"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span *ngFor="let skill of position.skills | slice:0:3"
               class="badge badge-primary rounded">{{skill.name}}
        </span>
        <span *ngIf="position.skills && position.skills.length > 3" class="text-primary font-weight-bold">...</span>
        <small class="pull-right">
            <strong>Date Created: </strong>
            <span class="d-inline">{{position.dateCreated | amDateFormat: dateFormat}}</span>
            <!--<br>-->
            <!--<strong>Solved By: </strong>-->
            <!--<span class="d-inline">{{question.solvedCount}} Users</span>-->
        </small>
    </div>
</div>