<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="../home"><fa name="home"></fa> Home <span class="sr-only">(current)</span></a>
        </li>
        <ng-template [ngIf]="isCandidate()">
            <li class="nav-item">
                <a class="nav-link" href="#"><fa name="th-list"></fa> My Questions</a>
            </li>
        </ng-template>
        <ng-template [ngIf]="!isCandidate()">
            <li class="nav-item">
                <a class="nav-link" href="#">My Positions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create Test</a>
            </li>
        </ng-template>
        <li class="nav-item">
            <a class="nav-link" href="#"><fa name="upload"></fa> Publish Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="search-questions"><fa name="search"></fa> Search Questions</a>
        </li>
    </ul>
</div>