@font-face {
    font-family: Kavoon;
    src: url(assets/fonts/Kavoon-Regular.woff);
}

html, body {
    height: 100%;
}

body {
    background: #f7f6f6;
}

header, nav, section, footer, article, main, aside {
    display: block;
}

.pointer {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed !important;
}

#logo {
    background: url("assets/images/logo.png") no-repeat;
    background-size: contain;
    display: block;
}

.file-drag {
    background: white;
    box-shadow: 0 1px 5px #959595;
}