<form [formGroup]="publishPositionForm" (submit)="onPublishPositionClicked()">
    <div class="form-group required">
        <label for="title" class="control-label">Position Title</label>
        <input type="text" id="title" class="form-control" tabindex="1"
               placeholder="Insert Position Title"
               formControlName="title">
    </div>

    <div class="form-group required">
        <label for="skills" class="control-label">Skills</label>
        <angular2-multiselect [data]="skills" [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings" id="skills"
                              [formControlName]="'skills'" tabindex="3">
            <c-badge>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-badge>
            <c-item>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-item>
        </angular2-multiselect>
    </div>

    <div class="form-group required">
        <label for="desc" class="control-label">Position Description</label>
        <ckeditor id="desc" [formControlName]="'desc'"
                [(ngModel)]="ckEditorContent"
                [config]="ckEditorConfig">
        </ckeditor>

    </div>

    <button type="submit" class="btn text-white" [disabled]="!publishPositionForm.valid">Create Position</button>
</form>