<form [formGroup]="publishPositionForm">
    <div class="form-group required">
        <label for="title" class="control-label">Position Title</label>
        <input type="text" id="title" class="form-control" tabindex="1"
               placeholder="Insert Position Title"
               formControlName="title">
    </div>

    <div class="form-group required">
        <label for="skills" class="control-label">Skills</label>
        <angular2-multiselect [data]="skills" [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings" id="skills"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              [formControlName]="'skills'" tabindex="3">
            <c-badge>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-badge>
            <c-item>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-item>
        </angular2-multiselect>
    </div>

    <div *ngIf="positionSkills.length !== 0" id="positionSkills" class="form-group">
        <label for="positionSkills" class="control-label required-label"> Weights </label>
        <fa name="question-circle" [ngbTooltip]="'Let us know the importance of each skill'"></fa>
        <div *ngFor="let skill of selectedItems; let i = index">
            <label class="control-label text-primary" for="{{'positionSkill'+skill.id}}">
                <strong>{{skill.name}} - {{positionSkills[i] ? positionSkills[i].skillWeight : 0}}</strong>
            </label>
            <star-rating-comp id="{{'positionSkill'+skill.id}}" [starType]="'svg'"
                              [numOfStars]="10" [size]="'large'" [rating]="1"
                              [staticColor]="'ok'" [labelPosition]="'left'" tabindex="4"
                              (onRatingChange)="onWeightChange({'event': $event, 'skill': skill})">
            </star-rating-comp>
        </div>
        <span *ngIf="weightSum !== 10" class="control-label text-danger">
            The sum of the weights must be 10
        </span>
    </div>

    <div class="form-group required">
        <label for="desc" class="control-label">Position Description</label>
        <ckeditor id="desc" [formControlName]="'desc'"
                [(ngModel)]="ckEditorContent"
                [config]="ckEditorConfig">
        </ckeditor>

    </div>

    <button type="submit" class="btn text-white" [disabled]="!publishPositionForm.valid"
            mwlConfirmationPopover
            [appendToBody]="true"
            [confirmText]="'Confirm'"
            [confirmButtonType]="'primary'"
            [popoverTitle]="'Create Position'"
            [popoverMessage]="'Are you sure you want to create the Position?'"
            [placement]="'top'"
            (confirm)="onCreatePositionClicked()">
        Create Position
    </button>
</form>