<div class="card-deck" appMatchHeight="card" *ngIf="questions && questions.length > 0">
    <div class="card" *ngFor="let q of questions | orderBy:sortBy:reverse | paginate: { itemsPerPage: 5, currentPage: currPage }"
         (click)="onQuestionItemClicked(q)">
        <div class="card-header text-white">
            <h6 class="ellipsis">{{q.title}}</h6>
        </div>
        <div class="card-body bg-white text-dark">

            <div class="mb-1 myHeight" [innerHTML]="q.description | truncate :numOfChars: '...' | santisizeHtml"></div>
            <br>
            <div class="row">
                <div class="col-6">
                    <star-rating-comp [starType]="'svg'"
                                      [step]="0.5"
                                      [showHalfStars]="true"
                                      [size]="'medium'"
                                      [rating]="q.rank" [readOnly]="true"
                                      [staticColor]="'ok'" [labelPosition]="'left'">
                    </star-rating-comp>
                </div>
                <div class="col-6 pull-right">
                    <span *ngIf="isRecruiter()" [ngSwitch]="q.accessModifier">
                        <fa *ngSwitchCase="1" name="eye" [ngbTooltip]="'Private'"></fa>
                        <fa *ngSwitchCase="2" name="handshake-o" [ngbTooltip]="'Shared'"></fa>
                        <fa *ngSwitchCase="3" name="users" [ngbTooltip]="'Public'"></fa>
                    </span>
                    <app-rank-value class="pull-right" [rank]="q.rank"></app-rank-value>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Created On {{q.dateCreated | amDateFormat: dateFormat}}
            </small>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <pagination-controls class="my-pagination"
                                 [autoHide]="false"
                                (pageChange)="currPage = $event">
            </pagination-controls>
        </div>
    </div>
</div>