<div class="card-deck" appMatchHeight="card" *ngIf="questions && questions.length > 0">
    <div class="card" *ngFor="let q of questions | orderBy:sortBy:reverse | paginate: { itemsPerPage: 5, currentPage: page }"
         (click)="onQuestionItemClicked(q)">
        <!--Add Colors to Header: [ngStyle]="{'backgroundColor': getColorState(p)}"-->
        <div class="card-header text-white">
            <h6 class="ellipsis">{{q.title}}</h6>
        </div>
        <div class="card-body bg-white text-dark">
            <!--<div class="row">-->
            <!--<div class="col-6">-->
            <!--&lt;!&ndash;<star-rating-comp [starType]="'svg'"&ndash;&gt;-->
            <!--&lt;!&ndash;[step]="0.5"&ndash;&gt;-->
            <!--&lt;!&ndash;[showHalfStars]="true"&ndash;&gt;-->
            <!--&lt;!&ndash;[size]="'small'"&ndash;&gt;-->
            <!--&lt;!&ndash;[rating]="q.rank" [readOnly]="true"&ndash;&gt;-->
            <!--&lt;!&ndash;[staticColor]="'ok'" [labelPosition]="'left'">&ndash;&gt;-->
            <!--&lt;!&ndash;</star-rating-comp>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-6 pull-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<app-rank-value class="pull-right" [rank]="q.rank"></app-rank-value>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->

            <div class="mb-1 myHeight" [innerHTML]="q.description | truncate :numOfChars: '...' | santisizeHtml"></div>
            <br>
            <div class="row">
                <div class="col-6">
                    <star-rating-comp [starType]="'svg'"
                                      [step]="0.5"
                                      [showHalfStars]="true"
                                      [size]="'medium'"
                                      [rating]="q.rank" [readOnly]="true"
                                      [staticColor]="'ok'" [labelPosition]="'left'">
                    </star-rating-comp>
                </div>
                <div class="col-6 pull-right" *ngIf="isRecruiter()">
                    <span [ngSwitch]="q.accessModifier">
                        <fa *ngSwitchCase="1" name="eye" [ngbTooltip]="'Private'"></fa>
                        <fa *ngSwitchCase="2" name="handshake-o" [ngbTooltip]="'Shared'"></fa>
                        <fa *ngSwitchCase="3" name="users" [ngbTooltip]="'Public'"></fa>
                    </span>
                    <app-rank-value class="pull-right" [rank]="q.rank"></app-rank-value>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Created On {{q.dateCreated | amDateFormat: dateFormat}}
            </small>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <pagination-controls class="my-pagination"
                                 (pageChange)="page = $event"
                                 [autoHide]="false">
            </pagination-controls>
        </div>
    </div>
</div>

