<div class="jumbotron">
    <div class="mx-auto text-center">
        <a class="mx-auto" id="zoomedLogo"></a>
        <h1 class="display-4 text-center">Welcome to Job Planet</h1>
        <p class="lead">This text is not important right now...</p>
        <hr class="my-4">
        <p>Explain about the users: candidate, and about a recruiter</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="../register/candidate">I'm a Candidate</a>
            <a class="btn btn-primary btn-lg" routerLink="../register/recruiter">I'm a Recruiter</a>
        </p>
        <p class="lead">
            <a routerLink="../login">I already have an account</a>
        </p>
    </div>
</div>