input[type=checkbox] {
    width: 17px;
    height: 17px;
}

.mySubmitAuth {
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
    color: white;
    font-size: 20px;
    background-color: #29A6DE;
    width: 20%;
    height: 50px;
    transition: background linear 0.4s;
}

.mySubmitAuth:hover {
    transition: background linear 0.4s;
    background: #0071bc;
}

.mySubmitAuth:disabled {
    background: #6C757D;
}

.legend {
    margin-top: -10px;
}

.authLogo {
    width: 200px;
    height: 150px;
}