<!--<div class="row">-->
    <!--<div class="col-12">-->
        <!--<h4>{{position.title}}-->
            <!--<span [ngSwitch]="position.status">-->
                <!--<span *ngSwitchCase="1" class="btn btn-outline-primary btn-sm disabled"> Opened </span>-->
                <!--<span *ngSwitchCase="2" class="btn btn-outline-danger btn-sm disabled"> Closed </span>-->
                <!--<span *ngSwitchCase="3" class="btn btn-outline-success btn-sm disabled"> Pending </span>-->
            <!--</span>-->
        <!--</h4>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-3">
        <span *ngFor="let skill of position.skills" class="badge badge-primary rounded">
            {{skill.name}}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div class="myDescription" [innerHTML]="position.description | santisizeHtml"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span style="margin-right: 5%"><strong>Created By </strong> {{position.createdByDisplayName}}</span>
        <span><strong>Date Created </strong> {{position.dateCreated | amDateFormat: dateFormat}}</span>
    </div>
</div>