<form [formGroup]="searchQuestionsForm">
    <div class="form-group">
        <!--<label for="skills">Skills</label>-->
        <!--<angular2-multiselect [data]="skills" [(ngModel)]="selectedItems"-->
                              <!--[settings]="settings"-->
                              <!--(onSelect)="onItemSelect($event)"-->
                              <!--(onDeSelect)="OnItemDeSelect($event)"-->
                              <!--formControlName="skills" id="skills">-->

            <!--<c-badge>-->
                <!--<ng-template let-item="item">-->
                    <!--<span>{{item.name}}</span>-->
                <!--</ng-template>-->
            <!--</c-badge>-->
            <!--&lt;!&ndash;<c-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<ng-template let-item="item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span>{{item.name}}</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
            <!--&lt;!&ndash;</c-item>&ndash;&gt;-->
        <!--</angular2-multiselect>-->
    </div>
</form>