<form [formGroup]="searchQuestionsForm">
    <hr>
    <div class="form-group">
        <label for="name">Question Name</label>
        <input type="text" id="name" class="form-control" tabindex="1"
               placeholder="Insert Question Name"
            formControlName="name">
    </div>
    <hr>
    <div class="form-group">
        <label for="skills">Skills</label>
        <angular2-multiselect [data]="skills" [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onDeSelectAll)="onDeSelectAll($event)" id="skills"
                                [formControlName]="'skills'" tabindex="2">
                    <c-badge>
                        <ng-template let-item="item">
                        <span>{{item.name}}</span>
                        </ng-template>
                    </c-badge>
                    <c-item>
                    <ng-template let-item="item">
                        <span>{{item.name}}</span>
                    </ng-template>
                    </c-item>
        </angular2-multiselect>
    </div>
    <hr>
    <div class="form-group">
        <label for="rank">Rank</label>
        <star-rating-comp id="rank" [starType]="'svg'" [formControlName]="'rank'"
                          [step]="0.5"
                          [showHalfStars]="true"
                          [size]="'large'"
                          [staticColor]="'ok'" [labelPosition]="'left'" tabindex="3">
        </star-rating-comp>
        <!--{{ searchQuestionsForm.value.rank}}-->
    </div>
    <hr>
    <button type="submit" class="btn text-white">Search</button>
</form>