<form [formGroup]="searchQuestionsForm">
    <div class="form-group">
        <label for="skills">Skills</label>
        <angular2-multiselect [data]="skills" [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onDeSelectAll)="onDeSelectAll($event)" id="skills"
                                [formControlName]="'skills'">
                    <c-badge>
                        <ng-template let-item="item">
                        <span>{{item.name}}</span>
                        </ng-template>
                    </c-badge>
                    <c-item>
                    <ng-template let-item="item">
                        <span>{{item.name}}</span>
                    </ng-template>
                    </c-item>
        </angular2-multiselect>
    </div>
</form>