<a class="btn btn-link mb-3" routerLink="../.."><fa name="chevron-circle-left"></fa>Back to solutions</a>
<form [formGroup]="feedbackForm" (submit)="onSaveFeedback()">
    <div *ngFor="let tsq of testSolution.testSolutionQuestions | orderBy: 'dateCreated' | paginate: { itemsPerPage: 1, currentPage: currentPage, id: localComponentId }"
         class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label><strong>{{tsq.question.title}}</strong></label>
                    <label class="btn btn-outline-primary btn-sm"
                         (click)="openQuestionModal(tsq.question)">
                        More info
                    </label>
                    <div>{{tsq.question.description}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label><strong>Solution</strong></label>
                    <div *ngIf="tsq.solution; else noSolutionFound" class="form-control"
                          [innerHTML]="tsq.solution | santisizeHtml">
                    </div>
                    <ng-template #noSolutionFound>
                        <div class="text-danger font-weight-bold">No solution was submitted</div>
                    </ng-template>

                    <!--<div [ngClass]="{'form-control': tsq.solution != undefined}"-->
                         <!--[innerHTML]="tsq.solution != undefined ? (tsq.solution | santisizeHtml) : 'No solution was submitted'"></div>-->
                </div>
            </div>
            <div class="col-6 left-border">
                <div class="form-group" style="padding-bottom: 7px">
                    <label for="'score'+{{tsq.question.id}}"><strong>Rate Solution</strong></label>
                    <star-rating-comp id="'score'+{{tsq.question.id}}" [formControlName]="'score'+tsq.question.id"
                                      [starType]="'svg'" [numOfStars]="10" [size]="'large'"
                                      [staticColor]="'ok'" [labelPosition]="'left'" tabindex="1">
                    </star-rating-comp>
                </div>
                <br>
                <div class="form-group">
                    <label for="'feedback'+{{tsq.question.id}}"><strong>General Feedback</strong></label>
                    <textarea class="form-control" id="'feedback'+{{tsq.question.id}}"
                              [formControlName]="'feedback'+tsq.question.id">
                    </textarea>
                </div>
            </div>
        </div>
        <br>
    </div>
    <pagination-controls *ngIf="testSolution.testSolutionQuestions && testSolution.testSolutionQuestions.length > 0" class="my-pagination text-center"
                         [autoHide]="false" (pageChange)="currentPage = $event" [id]="localComponentId">
    </pagination-controls>
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn submitButton" [disabled]="!feedbackForm.valid"> Save Feedback </button>
        </div>
    </div>
</form>
