<div class="container-fluid">
    <h3>Search Questions</h3>

    <div class="row">
        <div class="col-4 push-right">
            <app-search-form *ngIf="skills.length"
                             [skills]="skills"
                             (onLoadResults)="loadResults($event)">
            </app-search-form>
        </div>
        <div *ngIf="results" class="col-7 shadow bg-white">
            <div class="row resultsTitle">
                <div class="col-6">
                    <h6 [ngClass]="{'text-success': results.length, 'text-danger': results.length === 0}" class="">{{results.length}} Results</h6>
                </div>
                <div class="col-3">
                    <label for="sort" class="sr-only">Sort</label>
                    <select id="sort" class="form-control d-inline-block" [(ngModel)]="sortStrategy">
                        <option disabled selected [value]="null">Sort By</option>
                        <option value="title">Title</option>
                        <option value="dateCreated">Date Created</option>
                        <option value="rank">Rank</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="order" class="sr-only">Order</label>
                    <select id="order" class="form-control d-inline-block" [(ngModel)]="orderStrategy">
                        <option disabled selected [value]="false">Order By</option>
                        <option [value]="false">Ascending</option>
                        <option [value]="true">Descending</option>
                    </select>
                </div>
            </div>
            <app-question-list [questions]="results" [sortBy]="sortStrategy" [reverse]="orderStrategy === 'true'"></app-question-list>
        </div>
    </div>
</div>