<div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
        {{test.title}}
        <button class="btn btn-sm btn-outline-primary" (click)="onStartTest($event)">
            <fa name="clock-o"></fa>Start Test
        </button>
        <star-rating-comp [starType]="'svg'"
                          [step]="0.5"
                          [showHalfStars]="true"
                          [size]="'medium'"
                          [rating]="test.difficulty" [readOnly]="true"
                          [staticColor]="'ok'" [labelPosition]="'left'">
        </star-rating-comp>
    </h5>
    <small>
        {{test.id}}
    </small>
</div>
<div class="row">
    <div class="col-4">
        <span class="mt-0"><strong>Time Frame: </strong> {{test.timeFrameInMinutes}} Minutes</span>
        <br>
        <span class="mt-0"><strong>Max Questions: </strong> {{test.maxQuestions}}</span>
    </div>
    <div class="col-8">
        <small class="pull-right">
            <strong>Date Created: </strong>
            <span class="d-inline">{{test.dateCreated | amDateFormat: dateFormat}}</span>
            <br>
            <strong>Created By: </strong>
            <span class="d-inline">{{test.createdByDisplayName}}</span>
        </small>
    </div>

</div>