.shadow {
    box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
}

.resultsTitle {
    margin-top: 1%;
    margin-bottom: 2%;
}

.testTitle {
    padding-bottom: 10px;
}

.resultMessage {
    color: #5e887e;
}

.push-right {
    margin-right: 40px;
}

.push-right-left {
    margin-right: 40px;
    margin-left: 40px;
}

.sorting-control {
    padding-left: 0;
}

.sorting-control > select {
    font-size: small;
}

.approve-btn {
    animation: background 4s infinite;
}

@keyframes background {
    50%  {background-color: #c5d3e5;}
}