<header>
    <nav class="navbar navbar-expand-lg myTopNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark" data-toggle="dropdown" href="#">
                        <fa name="comment" title="Notifications"></fa> Notifications
                        <span *ngIf="totalUnreadNotifications > 0" class="badge badge-danger">{{totalUnreadNotifications > 999 ? '999+' : totalUnreadNotifications}}</span>
                    </a>
                    <div class="dropdown-menu notificationList">
                        <div *ngIf="unreadNotifications.length === 0; else listOfNotifications">
                            <p class="dropdown-item">You have nothing new</p>
                        </div>

                        <ng-template #listOfNotifications>
                            <span class="dropdown-item notificationItem pointer text-secondary" *ngFor="let notification of unreadNotifications">
                                <span [ngSwitch]="notification.type">
                                    <span *ngSwitchCase="NotificationType.Recommendation">

                                        <fa name="user"></fa><strong>Candidate Recommendation</strong>
                                        <span class="pull-right text-danger">&#9679;</span>
                                    </span>
                                    <br>
                                    <small>{{notification.dateCreated | amDateFormat: dateFormat}}</small>
                                </span>
                            </span>
                        </ng-template>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark" data-toggle="dropdown" href="#">
                        <fa name="user" title="Account"></fa> My Account
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pointer" (click)="openNotificationsModal()"><fa name="comment"></fa>All Notifications</a>
                        <a class="dropdown-item pointer" (click)="openSettingsModal()"><fa name="cog"></fa> Profile Settings</a>
                        <a class="dropdown-item pointer" (click)="logout()"><fa name="sign-out"></fa> Logout</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/home/search-questions">
                        <fa name="search" title="Search"></fa> Search
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg mySecondNav">
        <a class="navbar-brand headerLogo" id="logo" routerLink="../home"></a>
        <app-nav class="mx-auto"></app-nav>
    </nav>
</header>