.headerLogo {
    height: 70px;
    width: 200px;
}

.myTopNav {
    height: 35px;
    background: #c0c0c0;
}

.myTopNav .nav-link {
    font-weight: bold;
}


.myTopNav .nav-link:hover {
    text-decoration: underline;
}


.mySecondNav {
    height: 90px;
    background: #ebebeb;
}