#loader:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(10,end) 1200ms infinite;
    animation: ellipsis steps(10,end) 1200ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
    cursor: wait;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}