<form [formGroup]="publishQuestionForm" (change)="removeRecruiterControls()" (submit)="onPublishQuestion()" enctype="multipart/form-data">
    <hr>
    <div class="form-group required">
        <label for="title" class="control-label">Question Title</label>
        <input type="text" id="title" class="form-control" tabindex="1"
               placeholder="Insert Question Title"
               formControlName="title">
    </div>
    <div class="form-group required">
        <label for="desc" class="control-label">Question Description</label>
        <textarea id="desc" class="form-control" tabindex="2"
                  placeholder="Insert Question Description"
                  formControlName="desc">
        </textarea>
    </div>
    <div class="form-group required">
        <label for="skills" class="control-label">Skills</label>
        <angular2-multiselect [data]="skills" [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings" id="skills"
                              [formControlName]="'skills'" tabindex="3">
            <c-badge>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-badge>
            <c-item>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-item>
        </angular2-multiselect>
    </div>
    <div *ngIf="isRecruiter()" class="form-group required">
        <span class="control-label"> Access Modifier
        </span>
        <fa name="question-circle" [placement]="'top'"
            [ngbTooltip]="'Private Questions are only visible to you, Shared Questions are only visible to your groups'">
        </fa>
        <!--<mat-radio-group id="accessModifier" [formControlName]="'accessModifier'">-->
            <!--<mat-radio-button class="md-primary" value="1">Private </mat-radio-button>-->
            <!--<mat-radio-button value="2">Shared </mat-radio-button>-->
            <!--<mat-radio-button value="3">Public </mat-radio-button>-->
        <!--</mat-radio-group>-->
        <div id="accessModifier">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" [formControlName]="'accessModifier'" value="1">
                    <!--<small><fa name="eye"></fa></small>Private-->
                    <span [ngbTooltip]="privateTooltibContent">Private</span>
                    <ng-template #privateTooltibContent><fa name="eye"></fa></ng-template>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" [formControlName]="'accessModifier'" value="2">
                    <!--<small><fa name="building"></fa></small>Shared-->
                    <span [ngbTooltip]="sharedTooltibContent">Shared</span>
                <ng-template #sharedTooltibContent><fa name="building"></fa></ng-template>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" [formControlName]="'accessModifier'" value="3">
                    <span [ngbTooltip]="publicTooltibContent">Public</span>
                    <ng-template #publicTooltibContent><fa name="users"></fa></ng-template>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="file">Add Attachment
            <fa name="question-circle" [placement]="'top'" [ngbTooltip]="'Add a picture to describe & detail the question'" ></fa>
        </label>
        <div class="center">
            <file-drop id="file" headertext="" (onFileDrop)="onDroppedFile($event)"
                       customstyle="file-drag" [ngStyle]="{cursor: fileToUpload != null? 'not-allowed' : 'cursor'}" >
                <div class="row">
                    <input type="file" id="selectedFile" (change)="onClickUpload($event.target.files, fileInput)" #fileInput hidden>

                    <div *ngIf="fileToUpload != null">
                        <span class="text-primary" style="font-size: 15px; cursor: default">
                            <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeFile()"><fa name="trash"></fa></button>
                            {{fileToUpload.name}}
                        </span>
                    </div>
                    <div *ngIf="fileToUpload == null">
                        <button type="button" class="btn btn-outline-primary"
                                (click)="fileInput.click()">
                            Drop Or Add Attachment
                        </button>
                    </div>
                </div>
            </file-drop>
        </div>
    </div>


    <hr>
    <button type="submit" class="btn text-white" [disabled]="!publishQuestionForm.valid">Publish Question</button>
</form>