.pic-preview {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.modalHeader {
    background: #555555;
}

.quit {
    position: absolute;
    right: 0;
    top: 0;
}