.pic-preview {
    height: 45vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: #656565;
}

.modalHeader {
    background: #555555;
    width: 100%;
}

.modalBody {
    height: 80vh;
}

.modalFooter {
    margin-top: 15px;
    position: relative;
    bottom: 0;
    padding-bottom: 2px;
}

.quit {
    cursor: pointer;
}

.pull-down {
    position: relative;
    bottom: -0.5em;
}

.badge {
    margin-right: 5px;
}


ol.carousel-indicators {
    position: fixed;
    bottom: 40px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    margin-top: 10px;
    z-index: 0;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: #C0C0C0;
}

ol.carousel-indicators li.active {
    background: #58BCCC;
}

.scroller {
    overflow: auto;
    height: 15vh;
}

.mini-scroller {
    overflow: auto;
    height: 9vh;
}

.post-solution {
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
    color: white;
    font-size: 2.5vh;
    background-color: #29A6DE;
    /*height: 50px;*/
    width: 100%;
    height: 5vh;
    transition: background linear 0.4s;
}

.post-solution:hover {
    transition: background linear 0.4s;
    background: #0071bc;
}

.post-solution:disabled {
    background: #6C757D;
}

textarea {
    resize: none;
}

.m-top {
    margin-top: -10px;
}

.myQuestionSolution {
    background: #eef0ed;
    height: 50vh;
    overflow: auto;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #5BC0DE;
}

.my-pagination /deep/ .ngx-pagination {
    margin-left: -50px;
    padding-bottom: 80px;
}



/* Image Modal */


/* The Modal (background) */
.imageModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.imageModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.imageModal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.imageModalContent, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.closeImageModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: transparent;
    border: 0;
}

.closeImageModal:hover,
.closeImageModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .imageModalContent {
        width: 100%;
    }
}