.card {
    /*width: 24%;*/
    display: inline-block;
    /*margin-right: 1rem !important;*/
    /*margin-right: 1%;*/
    transition: 0.2s box-shadow linear;
    cursor: pointer;

    max-width: 18%;
    max-height: 20%;

    border: 1px solid rgba(0,0,0,.125) !important;
}

.card:hover {
    box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
    transition: 0.2s box-shadow linear;
}

.card-header {
    background: #8aa7c1 !important;
}

.card-body {
    /*height: 75%;*/
    /*height: 300px;*/
    padding-bottom: 50px;
}

.status > span {
    /*position: absolute;*/
    /*bottom: 55px;*/
    /*right: 5px*/
}

.card-footer{
    position: absolute;
    bottom:0;
    width:100%;
    background: rgba(240,243,249,0.788);
}

.myHeight {
    height: 180px;
    overflow: hidden;
}

.card-footer small {
    font-size: 70%;
}


.my-pagination /deep/ .ngx-pagination {
    margin-left: -50px;
}

.ngx-pagination .disabled {
    cursor: not-allowed !important;
}


.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}