.quitTestModal {
    font-size: 28px;
    line-height: 20px;
    position: relative;
    right: -10px;
}

.quitTestModal:hover {
    color: gray !important;
}


.modalHeader {
    width: 100%;
}

.modalBody {
    height: 80vh;
    overflow-x: hidden;
}

.modalFooter {
    /*margin-top: 15px;*/
    position: relative;
    bottom: 0;
    padding-bottom: 2px;
}