<div class="modalHeader">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3><fa name="clone"></fa> {{test.title}}</h3>
            </div>
            <div class="col-4">
                <a class="quitQuestionModal pull-right pointer" (click)="quitModal()">&times;</a>
            </div>
        </div>
    </div>
</div>
<div class="modalBody">
    <div class="container">
        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-2 d-flex align-items-end ml-auto">
                <app-rank-value class="ml-auto" [rank]="test.difficulty"></app-rank-value>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <star-rating-comp [starType]="'svg'"
                                  [step]="0.5"
                                  [showHalfStars]="true"
                                  [size]="'medium'"
                                  [rating]="test.difficulty" [readOnly]="true"
                                  [staticColor]="'ok'" [labelPosition]="'left'">
                </star-rating-comp>
            </div>
        </div>
    </div>
</div>
<div class="modalFooter">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <span><strong>Created By </strong> {{test.createdByDisplayName}}</span>
            </div>
            <div class="col-5">
                <span><strong>Date Created </strong> {{test.dateCreated | amDateFormat: dateFormat}}</span>
            </div>
            <div class="col-2">
                <strong class="pull-right">{{test.id}}</strong>
            </div>
        </div>
    </div>
</div>