<ul class="list-group">
    <li *ngFor="let q of questions | orderBy:sortBy:reverse | paginate: { itemsPerPage: numOfElementsToDisplay, currentPage: currentPage }"
        class="list-group-item list-group-item-action flex-column align-items-start pointer"
        (click)="onQuestionItemClicked(q)">
        <app-question-item
                [question]="q"
                [questionState]="questionState"
                [small]="small"
                [markAccessModifier]="questionState === QuestionState.PublishedByMe && isRecruiter()"
                (onRemoveFromTodoList)="onRemoveFromTodoListSecond.emit({event: $event, questionId: q.id})"
                (onAddToTest)="onAddToTestSecond.emit({event: $event, questionId: q.id})"
                (onRemoveFromTest)="onRemoveFromTestSecond.emit({event: $event, questionId: q.id})">
        </app-question-item>
    </li>
</ul>
<br>
<pagination-controls class="my-pagination"
                     [autoHide]="false"
                     (pageChange)="currentPage = $event">
</pagination-controls>