<div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{question.title}}
        <app-question-state-button *ngIf="showSolveLaterButton"
                                   [questionState]="question.questionState"
                                   (click)="onQuestionStateButtonClicked($event, question.id)">
        </app-question-state-button>
    </h5>
    <small>{{question.id}}</small>
</div>
<div class="row text-left">
    <div class="col-7">
        <p class="mb-1">
            {{question.description}}
        </p>
        <span *ngFor="let skill of question.skills | slice:0:3"
              class="badge badge-primary rounded">
            {{skill.name}}
        </span>
    </div>
    <div class="col-5">
        <star-rating-comp [starType]="'svg'"
                          [step]="0.5"
                          [showHalfStars]="true"
                          [size]="'large'"
                          [rating]="question.rank" [readOnly]="true"
                          [staticColor]="'ok'" [labelPosition]="'left'">
        </star-rating-comp>

        <small>
            <strong>Date Created: </strong>
            <span class="d-inline">{{question.dateCreated | amDateFormat: dateFormat}}</span>
            <br>
            <strong>Solved By: </strong>
            <span class="d-inline">{{question.solvedCount}} Users</span>
        </small>
        <app-rank-value class="pull-right" [rank]="question.rank"></app-rank-value>
    </div>
</div>