<div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{question.title}}
        <button class="btn btn-outline-success btn-sm"
                *ngIf="showSolveLaterButton && question.questionState == QuestionState.General; else PublishedByMe"
                [placement]="'right'"
                [ngbTooltip]="'Add question to Todo-List'"
                (click)="onAddQuestionToTodoList($event, question.id)">
            <fa name="clock-o"></fa> Solve Later
        </button>
        <ng-template #PublishedByMe>
            <button class="btn btn-outline-danger btn-sm"
                    [placement]="'right'"
                    [ngbTooltip]="'This question was published by you'">
                <fa name="check-circle"></fa> Published by me
            </button>
        </ng-template>
    </h5>
    <small>{{question.id}}</small>
</div>
<div class="row text-left">
    <div class="col-7">
        <p class="mb-1">
            {{question.description}}
        </p>
        <span *ngFor="let skill of question.skills | slice:0:3"
              class="badge badge-primary rounded">
            {{skill.name}}
        </span>
    </div>
    <div class="col-5">
                <star-rating-comp [starType]="'svg'"
                                  [step]="0.5"
                                  [showHalfStars]="true"
                                  [size]="'large'"
                                  [rating]="question.rank" [readOnly]="true"
                                  [staticColor]="'ok'" [labelPosition]="'left'">
                </star-rating-comp>

            <!--<div class="pull-right" style="margin-top: -30px;">-->
                <!--<button class="btn btn-secondary"><fa name="clock-o"></fa> Solve Later</button>-->
            <!--</div>-->

        <small>
            <strong>Date Created: </strong>
            <span class="d-inline">{{question.dateCreated | amDateFormat: dateFormat}}</span>
            <br>
            <strong>Solved By: </strong>
            <span class="d-inline">{{question.solvedCount}} Users</span>
        </small>
        <app-rank-value class="pull-right" [rank]="question.rank"></app-rank-value>
    </div>

</div>