<div class="container-fluid" *ngIf="tests.length > 0; else emptyList">
    <div class="row">
        <div class="col-3">
            <div *ngIf="currentDiagram === PositionDiagramType.TestScore">
                <div class="text-center"><h4 class="title">Choose a test</h4></div>
                <div *ngFor="let test of tests" class="row title side"
                     [ngClass]="{'selectedItem': test.id === currTestId }">
                    <span (click)="setTest(test.id)" class="pointer">{{test.title}}</span>
                </div>
            </div>
            <div *ngIf="currentDiagram === PositionDiagramType.SkillsDistribution || currentDiagram === PositionDiagramType.PositionMatch">
                <div class="text-center"><h4 class="title">Choose a candidate</h4></div>
                <div *ngFor="let candidate of candidates" class="row title side"
                     [ngClass]="{'selectedItem':candidate.email === currCandidateEmail }">
                    <span (click)="setCandidate(candidate.email)" class="pointer">{{candidate.fullName}}</span>
                </div>
            </div>

        </div>
        <div class="col-7">
            <div class="text-center" *ngIf="currentDiagram === PositionDiagramType.TestScore">
                <h4 class="title">{{getCurrTest().title}}</h4>
                <ngx-charts-bar-vertical
                        [view]="[700, 400]"
                        [results]="currentData"
                        [gradient]="true"
                        [xAxis]="true"
                        [yAxis]="true"
                        [legend]="true"
                        [legendTitle]="'Candidates'"
                        [showYAxisLabel]="true"
                        [yAxisLabel]="'Test Score'">
                        <ng-template #tooltipTemplate let-model="model">
                            Solved in <br> {{getSolvedTime(model.name) / 60 | number: '1.2-2'}} minutes
                        </ng-template>
                </ngx-charts-bar-vertical>
            </div>

            <div class="text-center" *ngIf="currentDiagram === PositionDiagramType.SkillsDistribution">
                <h4 class="title">Skills Distribution</h4>
                <ngx-charts-pie-chart
                        [view]="[700, 400]"
                        [results]="currentData"
                        [explodeSlices]="false"
                        [tooltipDisabled]="false"
                        [labels]="true"
                        [legend]="true"
                        [legendTitle]="'Skills'"
                        [doughnut]="false"
                        [trimLabels]="false"
                        [gradient]="true">
                </ngx-charts-pie-chart>
            </div>

            <div class="text-center" *ngIf="currentDiagram === PositionDiagramType.PositionMatch">
                <h4 class="title">Position Match</h4>
                <ngx-charts-pie-grid *ngFor="let entry of matchingData | keys"
                        [view]="[180, 180]"
                        [label]="candidateSkillsFullData[entry.key].fullName"
                        [designatedTotal]="'100'"
                        [results]="entry.value">
                </ngx-charts-pie-grid>
            </div>

        </div>
        <div class="col-2">
            <div class="text-center title">
                Choose a diagram
            </div>


            <div *ngIf="currentDiagram !== PositionDiagramType.TestScore" class="row justify-content-center" (click)="onSwitchDiagram(PositionDiagramType.TestScore)">
                <label>Tests Score</label>
                <ngx-charts-bar-vertical class="pointer"
                        [view]="[150, 150]"
                        [results]="testsData[currTestId]"
                        [gradient]="true"
                        [xAxis]="false"
                        [tooltipDisabled]="true"
                        [yAxis]="false"
                        [legend]="false"
                        [legendTitle]="'Candidates'"
                        [showYAxisLabel]="false">
                </ngx-charts-bar-vertical>
            </div>

            <div *ngIf="currentDiagram !== PositionDiagramType.SkillsDistribution" class="row justify-content-center" (click)="onSwitchDiagram(PositionDiagramType.SkillsDistribution)">
                <label>Skills Distribution</label>
                <ngx-charts-pie-chart class="pointer"
                        [view]="[150,150]"
                        [results]="skillsData[currCandidateEmail]"
                        [explodeSlices]="false"
                        [tooltipDisabled]="true"
                        [labels]="false"
                        [doughnut]="false"
                        [gradient]="true">
                </ngx-charts-pie-chart>
            </div>

            <div *ngIf="currentDiagram !== PositionDiagramType.PositionMatch" class="row justify-content-center" (click)="onSwitchDiagram(PositionDiagramType.PositionMatch)">
                <label>Position Match</label>
                <ngx-charts-pie-grid class="pointer"
                        [view]="[200,200]"
                        [label]="'Matching'"
                        [designatedTotal]="'100'"
                        [results]="matchingData[currCandidateEmail]">
                </ngx-charts-pie-grid>
            </div>
        </div>
    </div>
</div>
<ng-template #emptyList>
    <div class="row mt-2">
        <div class="col-12">
            <h2>There are no statistics yet...</h2>
        </div>
    </div>
</ng-template>
