.title {
    font-weight: bold;
    font-size: 21px;
    color: #8499a2;
    margin-bottom: 25px;
    padding-left: 7px;
}

.title.side {
    font-size: 16px;
    border-left: solid 4px;
    opacity: 0.8;
}

.selectedItem {
    color: #28A6DD;
    opacity: 1 !important;
}