<div class="recruiterDashboard" *ngIf="recruiterDashboardData">
    <div class="row mt-3">
        <div class="col-7 dashboardOpacity">
            <h4 class="headline">My Positions
                <a routerLink="my-positions" class="pull-right mr-2 text-white"><fa name="sign-in"></fa></a>
            </h4>

            <app-position-list [showPagination]="false"
                                 [positions]="recruiterDashboardData.openPositions">
            </app-position-list>
        </div>

        <div class="col-2"></div>

        <div class="col-3 dashboardOpacity">
            <div class="card headline">
                <div class="card-body">
                    <h4 class="card-title text-center text-white">Open Positions</h4>
                    <p class="card-text numberPositions">{{recruiterDashboardData.numOfOpenPositions}}</p>
                    <a routerLink="my-positions" class="btn btn-outline-light btn-block">
                        My Positions
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="selectedPosition" class="row mt-3">
        <div class="col-12 dashboardOpacity bg-white">
            <app-statistics [position]="selectedPosition"></app-statistics>
        </div>
    </div>
</div>
