<ul class="list-group">
    <li *ngFor="let n of notifications | orderBy:sortBy:reverse | paginate: { itemsPerPage: 5, currentPage: currentPage, id: 100 }"
        class="list-group-item list-group-item-action flex-column align-items-start pointer"
        (click)="onNotificationItemClicked(n)">
        <app-notification-item [notification]="n"></app-notification-item>
    </li>
</ul>
<br>
<pagination-controls class="my-pagination"
                     [autoHide]="false"
                     (pageChange)="currentPage = $event" [id]="100">
</pagination-controls>