<form [formGroup]="createTestForm" (submit)="onCreateTestClicked()">

    <div class="form-group required">
        <label for="title" class="control-label">Test Name</label>
        <input type="text" id="title" class="form-control" tabindex="1"
               placeholder="Insert Test Name"
               formControlName="title">
    </div>

    <div class="form-group required">
        <label for="position" class="control-label">Open Position</label>
        <select *ngIf="positions != null && positions.length !== 0; else createPositionLink" name="position" id="position" [formControlName]="'position'"
                class="form-control -caret-square-o-down" tabindex="2"
                (change)="filterSkills($event.target.value)">
            <option selected disabled value="">Choose An Open Position</option>
            <option *ngFor="let p of positions" [value]="p.id">{{p.id}} - {{p.title}}</option>
        </select>
        <ng-template #createPositionLink>
            <div class="form-control">
                <a routerLink="/home/my-positions/create-position">You have no open positions, please create a position first</a>
            </div>
        </ng-template>
    </div>

    <div class="form-group required">
        <label for="skills" class="control-label">Focused Skills</label>
        <angular2-multiselect *ngIf="filteredSkillsMultiSelect.length !== 0; else DisabledDropdown"
                              [data]="filteredSkillsMultiSelect" [(ngModel)]="selectedSkillItems"
                              [settings]="skillsDropdownSettings" id="skills"
                              [formControlName]="'skills'" tabindex="3">
            <c-badge>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-badge>
            <c-item>
                <ng-template let-item="item">
                    <span>{{item.name}}</span>
                </ng-template>
            </c-item>
        </angular2-multiselect>
        <ng-template #DisabledDropdown>
            <angular2-multiselect [settings]="disabledDropdownSettings" [data]="[]" [formControlName]="'skills'">
            </angular2-multiselect>
        </ng-template>
    </div>

    <div class="form-group">
        <label for="questions" class="control-label">Private Questions</label>
        <angular2-multiselect [data]="questionsMultiSelect" [(ngModel)]="selectedQuestionItems"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              [settings]="questionsDropdownSettings" id="questions"
                              [formControlName]="'questions'" tabindex="3">
            <c-badge>
                <ng-template let-item="item">
                    <span>{{item.id}}</span>
                </ng-template>
            </c-badge>
            <c-item>
                <ng-template let-item="item">
                    <span>{{item.id}} - {{item.name}}</span>
                </ng-template>
            </c-item>
        </angular2-multiselect>
    </div>

    <div class="form-group required">
        <label for="difficulty" class="control-label">Difficulty Level</label>
        <star-rating-comp id="difficulty" [starType]="'svg'" [formControlName]="'difficulty'"
                          [step]="1" (onClick)="onDifficultyLevelChange($event)"
                          [showHalfStars]="false"
                          [size]="'large'"
                          [staticColor]="'ok'" [labelPosition]="'left'" tabindex="4">
        </star-rating-comp>
    </div>

    <div class="form-group required">
        <label for="timeFrame" class="control-label">Time Frame (Min.)</label>
        <span *ngIf="createTestForm.controls['timeFrame'].invalid &&
                   (createTestForm.controls['timeFrame'].dirty || createTestForm.controls['timeFrame'].touched)"
              class="text-danger small">
            <span *ngIf="createTestForm.controls['timeFrame'].errors.min || createTestForm.controls['timeFrame'].errors.max">
                Time frame must be between 10 to 180 minutes.
            </span>
        </span>
        <input type="number" min="10" max="180" class="form-control" tabindex="5" placeholder="Insert Time Frame"
               id="timeFrame" formControlName="timeFrame" (keydown)="onlyPositiveValues($event)">
    </div>

    <div class="form-group required">
        <label for="maxQuestions" class="control-label">Number of Questions</label>
        <span *ngIf="createTestForm.controls['maxQuestions'].invalid &&
                   (createTestForm.controls['maxQuestions'].dirty || createTestForm.controls['maxQuestions'].touched)"
             class="text-danger small">
            <span *ngIf="createTestForm.controls['maxQuestions'].errors.min">
                Number must be greater than the number of private questions.
            </span>
        </span>
        <input type="number" min="1" max="100" class="form-control" tabindex="5" placeholder="Insert # of Questions"
               id="maxQuestions" name="maxQuestions" formControlName="maxQuestions" (keydown)="onlyPositiveValues($event)">
    </div>

    <button type="submit" class="btn text-white" [disabled]="!createTestForm.valid">Create Test</button>
</form>